.navbar-brand img {
    max-height: 20px;
}

.navbar-text {
    position: absolute;
    top: 0;
    left: 50px;
}

@media screen and (max-width: 330px) {
    .navbar-text {
        display: none;
    }
}

.container.to-do-list {
    margin-top: 100px;
}

@media screen and (min-width: 768px) {
    .container.to-do-list {
        margin-top: 150px;
    }
}

h1 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 6px;
}

i {
    cursor: pointer;
    margin: 0 5px;
}

i.fa-remove {
    color: red;
}

i.fa-pencil {
    color: green;
}

i.fa-save {
    color: blue;
}

span.edit-icons {
    display: inline-flex;
    position: absolute;
    transform: translateY(74%);
}

/* overwrite bootstrap styling */
.input-group .form-control:first-child {
    border-radius: 4px;
}

.input-group li .form-control {
    margin-bottom: 6px;
}

.input-group-addon:first-child {
    border: 1px solid rgb(204,204,204);
    border-radius: 4px;
    display: inline-table;
    margin-right: 6px;
}

.form-container {
    margin-bottom: 25px;
}

button[type="submit"] {
    margin-bottom: 25px;
}

.fixed {
    background: #fff;
    padding: 30px 0 5px;
    position: fixed;
    top: 50px;
    z-index: 10;
}

.task-edit {
    position: relative;
}

.complete {
    text-decoration: line-through;
}
